label{
    font-weight: 600;
    padding: 0.5rem 0 0.5rem 0;
}

.subtitle{
    text-align: center;
    color: #909090;
    font-weight: 600;
}

.radio-label{
    padding: 0;
    font-weight: normal;
}
.team-tag{
    background-color: #C50341;
    color: #ffffff;
    font-weight: normal;
    cursor:pointer;
    margin-left: 0.25rem;
}

.ng-invalid.ng-touched{
    border-color: red;
}

.label-error{
    color:red; 
}

.field-grow{
    flex: 1 0 100px;
}