.container-fluid {
  margin-top: 1rem;
  border: 1px #dadada dashed;
  background-image: linear-gradient(to bottom, #fff, #e5e5e5);
  color: #c50341;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  background-image: linear-gradient(to bottom, #eee, #b5b5b5);
}
