fa-icon {
  color: #b13d7c;
  background-color: none;
}

button {
  background: none;
  text-align: center;
  border: 0;
  visibility: hidden;
}

:hover {
  background-color: #f7eef7;
  border-radius: 5%;
  color: #b13d7c;
}

:hover button {
  visibility: visible;
}

span {
  font-weight: 600;
  word-wrap: break-word;
}

.row {
  border-bottom: solid 1px #eee;
}
